<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="../assets/css/sakura.css" type="text/css" />
        <link rel="stylesheet" href="../assets/css/custom.css" type="text/css" />
    </head>
    <body>
        [ <a href="./index.html">Home</a>, <a href="./about.html">About</a> ]
        <header>
            <h1>{{ title }}</h1>
            <p class="post-datetime">{{ date }}</p>
        </header>

        <main>
        <article>
            <div>{{ content }}</div>
        </article>
        </main>

        <footer>
            <small>Thanks for reading.</small>
        </footer>
    </body>
</html>